@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

/* Heading desgn*/
h1 {
    font-family: 'Tinos', serif;
    text-transform: uppercase;
    color: black;
}

#logo{
    float: left;
    font-size: 36px;
    line-height: 70px;
}

/* Navigation design*/

#menu{
    font-size: 120%;
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: black;
    border-radius: 5px; /* Add rounded corners to links */
    padding: 10px;
}

#menu a:hover{
    background-color: rgba(22, 161, 235, 0.8);
    color: #fff; 
}

/* Main Image in the  home page*/

#main-image {
height: 600px;
width: 100%;
background: url('../images/main-image.webp') no-repeat center center;
 
/*Animation zoom effect*/

animation-name: main-zoom;
    animation-duration: 7s;
    animation-fill-mode: backword;
}

#image-outer {
height: 600px;
width: 100%;
overflow: hidden;
}

/*Animation*/

@keyframes main-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

