@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

/* Heading design */
h1 {
    font-family: 'Tinos', serif;
    text-transform: uppercase;
    color: black;
}

#logo {
    float: left;
    font-size: 36px;
    line-height: 70px;
    margin-left: 30px;
}

/* Navigation design */
#menu {
    font-size: 120%;
    line-height: 70px;
    text-align: right;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

#menu a:hover {
    background-color: rgba(22, 161, 235, 0.8);
    color: #fff;
}

/* Main Image in the home page */
#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-image.webp') no-repeat center center;
    animation-name: main-zoom;
    animation-duration: 7s;
    animation-fill-mode: backwards;
}

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* Animation of the image */
@keyframes main-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* Description about Cox's Bazar */
#home {
    font-family: Oswald, sans-serif;
    margin: 0 20px;
    text-align: justify;
    color: #3a3a3a;
    padding-bottom: 20px;
}

/* Footer */
footer {
    height: 40px;
    margin: 20px;
    text-align: center;
}

#social-networks {
    display: inline-block;
}

#social-networks>li {
    display: inline;
}

#social-networks i {
    font-size: 150%;
    margin: 5%;
    padding: 2%;
    color: #3a3a3a;
}

#home>h2 {
    font-size: 30px;
    font-family: Oswald, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    #menu {
        text-align: center;
    }

    #menu li {
        display: block;
        margin: 10px 0;
    }

    #logo {
        float: none;
        margin: 10px;
        text-align: center;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    #logo {
        font-size: 200%;
    }

    #home {
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        font-size: 100%;
    }
}

@media screen and (max-width: 500px) {
    #home>h2 {
        font-size: 20px;
    }
}
